<div style="text-align:center">
  <mat-toolbar color="primary">
    Local Weather
  </mat-toolbar>
  <div>
    <mat-card style=" width: 300px; margin: auto;padding:10px" >
      <app-city-search (searchEvent) = "doSearch($event)"></app-city-search>
    </mat-card>
   
  </div>
  <div>
    <mat-card style=" width: 300px; margin: auto;padding:10px">
        <mat-card-title>Current weather</mat-card-title>
      <app-current-weather [current] = "currentWeather"></app-current-weather>
    </mat-card>
  </div>
  
</div>